.aveilMealStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    transform:translateY(-110px) ;
    -webkit-transform:translateY(-110px) ;
    -moz-transform:translateY(-110px) ;
    -ms-transform:translateY(-110px) ;
    -o-transform:translateY(-110px) ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}