body {
  margin: 0;
  background-color: #e6d3a3 ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
